body {
  margin: 0;
  box-sizing: 0;
  background-color: black;
}

header {
  margin: 0;
}

.navbar {
  margin: 0 100px;
  color: white;
  align-items: center;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  align-items: center;
}

.nav_list-links {
  margin-left: 85px;
}

.nav_list-links a {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  font-size: 14px;
}

.nav_list-links a:hover {
  border-bottom: 2px solid #ff00c8c0;
}

.nav_list-links a:active {
  border-bottom: 2px solid #ff00c8c0;
}

.nav_list-items {
  text-decoration: none;
}

.navbar-button {
  width: 167px;
  height: 40px;
  border-radius: 80px;
}

p {
  margin: 0;
}

main {
  padding: 100px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Trap;
  font-size: 56px;
  line-height: 61.6px;
  color: white;
  align-items: center;
}

.title-p {
  margin: 10px;
  font-family: Work Sans;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: white;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 56px;
}

.title-button {
  width: 155px;
  height: 40px;
  border-radius: 30px;
  background-color: #d7fc6e;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.title-button img {
  height: 20px;
  width: 20px;
  padding: 0;
}

.p {
  margin: 0;
}

.container-tickets {
  gap: 24px;
  height: 368px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 100px;
}

.container-tickets_row {
  gap: 24px;
  width: 1038px;
  height: 172px;
  display: flex;
  background-color: transparent;
}

.border-ticket {
  width: 50px;
}

.ticket-left {
  height: 35%;
  background-color: rgb(124, 124, 124);
  border-radius: 10px 0 0 10px;
  border-left: 2px solid white;
}

.ticket-right {
  height: 35%;
  background-color: rgb(124, 124, 124);
  border-radius: 0 10px 10px 0px;
  border-right: 2px solid white;
}

.cut-ticket-left {
  height: 30%;
  border-radius: 0 100px 100px 0;
  box-shadow: 10px 0 0 10px rgb(124, 124, 124);
  border-right: 2px solid white;
}

.cut-ticket-right {
  height: 30%;
  border-radius: 100px 0 0 100px;
  box-shadow: -10px 0 0px 10px rgb(124, 124, 124);
  border-left: 2px solid white;
}

.container-tickets_row-ticket {
  width: 507px;
  height: 172px;
  display: flex;
}

img {
  width: 142px;
  height: 134px;
  border-radius: 8px;
  padding: 20px 0px 20px 20px;
}

.ticket-text {
  padding: 20px 15px;
}

.middle-ticket {
  background-color: rgb(124, 124, 124);
  display: flex;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.difuminates-images {
  display: flex;
  justify-content: end;
}
