@media (min-width: 1440px) {
  .header {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    width: 80%;
  }

  .top_bar {
    width: 80%;
  }

  .burger_menu {
    display: none;
  }

  .nav_desktop_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 5px 20px 0;
  }

  .nav_desktop_links a {
    text-decoration: none;
    color: black;
    display: flex;
    font-size: 20px;
  }

  .nav_desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .section_download_app {
    padding: 300px 220px 200px 130px;
  }

  .section_download_app_img_background:before {
    bottom: 110px;
    width: 90%;
    right: -28%;
  }

  .section_download_app_img_background {
    width: 30%;
  }

  .download_app {
    width: 560px;
    max-width: 560px;
  }

  .download_app_shadow {
    height: 112%;
    width: 95%;
    top: -10%;
  }

  .download_app_h5 {
    font-size: 48px;
    line-height: 63.48px;
    width: 517px;
  }

  .download_app_p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 487px;
    margin-top: 5px;
  }

  .download_app_h6 {
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
  }

  .download_app_links img {
    width: 149px;
    height: 47px;
  }

  .phone_1 {
    width: 95%;
    max-width: 313px;
  }

  .section_our_reactive_team_h4 {
    font-size: 31px;
    margin: 70px 0 10px 0;
  }

  .section_our_reactive_team_h6 {
    font-size: 20px;
  }

  .section_our_reactive_team-p {
    font-size: 18px;
    font-weight: 400;
  }

  .bottom_logos {
    margin: 30px 50px;
    gap: 40px;
  }

  .phone_2 {
    width: 386px;
    height: 526px;
  }

  .download_app_h5 {
    font-size: 31px;
    font-weight: 700;
    margin: 0;
  }

  .aboutOurApp_div {
    padding: 0 150px;
  }

  .aboutOurApp_p {
    padding: 0 280px;
  }

  .card_p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  .feature {
    padding: 20px;
  }

  .section_features_p {
    padding: 25px 30%;
  }

  .footer {
    padding: 100px 10% 0;
  }
  
}
