body {
    margin: 0;
    box-sizing: border-box;
    background-color:#5956E9;
    font-family: "Josefin Sans";
}

.header {
    height: 60px;
    margin: 30px 10px;
    align-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 40px;
    padding: 0 3px 0 10px;
    position: relative;
    border-radius: 3px
}

.burger_menu {
    display: block;
    position: relative;
    z-index: 1;
    top: 2px;
}

.burger_menu-input {
    display: block;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.burger_menu-span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: black;
    margin-bottom: 5px; 
    z-index: 1;
    position: relative;
    transform-origin: 0;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.5s ease;
}

.burger_menu-input:checked {
    left: 250px;
}

.burger_menu-input:checked ~ .burger_menu-span {
    opacity: 1;
    transform: rotate(45deg);
    background-color: #232323;
    left: 250px;   
}  

.burger_menu-input:checked ~ .burger_menu-span:nth-last-child(3) {
    opacity: 0;
}  

.burger_menu-input:checked ~ .burger_menu-span:nth-last-child(2) {
    transform: rotate(-45deg);
}  

.burger_menu-list {
    position: absolute;
    list-style: none;
    background-color: white;
    border-radius: 3px 10px 10px 10px;
    box-shadow: 0 0 1px 0;
    text-decoration: none;    
    padding: 0;
    width: 267px;
    height: 356px;
    padding: 45px 10px;
    top: -27px;
    left: -10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transform: translate(-120%,0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
}

.burger_menu_list-links {
    text-decoration: none;   
    color: #232233;
}

.burger_menu-input:checked ~ .burger_menu-list {
    transform: none;
}

.container-navbar-logo {
    display: flex;
    position: absolute;
    width: 100px;
    height: 60px;
    background-color: white;
    align-items: center;
    justify-content: center;
    left: 120px;
    top: -10px;
    box-shadow: 0 0 1px 0;
    border-radius: 5px;
}

.navbar-logo {
    width: 74px;
    height: 12px;
}

.navbar-download_button {
    background-color: #5956E9;
    color: white;
    border-radius: 3px;
    border: 0;
    width: 76px;
    height: 34px;
    font-size: 10px;
}

.section_download_app {
    padding: 40px 15px;
    background-image: url(imgs/background_image.png);
    background-size: cover; 
}

.download_app {
    background-color: white;
    margin:  50px 15px 50px 0;
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
    z-index: 2;
} 

.download_app-shadow {
    position: absolute;
    left: 30px;
    top: 185px;
    border: 10px solid white;
    width: 315px;
    height: 352px;
    z-index: 1;
    opacity: 25%;
}

.download_app-h5{
    color: #5956E9;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    margin: 0;
}

.download_app-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 30px 0;
}

.download_app-h6 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    margin: 10px 0;
}

.download_app_links {
    display: flex;
    gap: 15px;
}

.download_app_links-appStore {
    width: 108px;
    height: 34px;
}

.download_app_links-googlePlay {
    width: 108px;
    height: 34px;
}

.phone_1 {
    width: 80%;
}

.section-download_app-img_background {
    display: flex;
    justify-content: center;
    align-items: center;
}


.section_aboutOurApp {
    background-color: white;
    justify-content: center;
    padding: 80px 15px;
}

.aboutOurApp {
    text-align: center;
}

.aboutOurApp-h5 {
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    margin: 0;
}

.aboutOurApp-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6C6C72;    
}

.aboutOurApp_img {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.container-cards {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
}

.card {
    display: flex;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 15px;
}

.card-text {
    padding: 0 15px;
}

.card-h6 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

.card-p {
    margin: 0;
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6C6C72;    
}

.section_features {
    color: white;
    text-align: center;
    padding: 80px 35px ;
}

.section_features-h5 {
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    margin: 0;
}

.section_features-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0;
}

.section_features-h6 {
    margin: 25px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.feature {
    padding: 30px 10px 0;
}

.section_features-img_app {
    width: 100%;
}

.section_our_reactive_team {
    background-color: white;
    text-align: center;
    padding: 75px 15px 230px;

}

.section_our_reactive_team-container_h5 {
    padding: 0 10px;
}

.section_our_reactive_team-h5 {
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    margin: 0;
}

.section_our_reactive_team-p {
    font-family: "Josefin Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color:gray;
}

.border_team {
    margin-top: 35px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgb(223, 209, 209);
}

.border_team-img {
    border: 4px dashed #5956E9;
    border-radius: 100px;
}

.section_our_reactive_team-h4 {
    font-size: 31.25px;
    font-weight: 700;
    line-height: 47.25px;
    margin: 40px 0 0 0;
}

.section_our_reactive_team-h6 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin: 0 0 15px 0;
    color: #6C6C72;
}

.section_our_reactive_team-bottom_logos {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.bottom_logos-hr {
    margin: 0;
}

.footer {
    position: relative;
    background-color: #232233;
    color: white;
    padding: 200px 15px 0;
}

.footer-logo {
    font-size: 31px;
    font-weight: 700;
    line-height: 47px;
}

.footer-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.footer-h5 {
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    margin-bottom: 15px;
}

.info_mail {
    position: absolute;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    color: #232233;
    top: -155px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    align-content: center;
    box-shadow: 0 -50px 60px 0 gray;
    padding: 40px 8px;
    width: 86%;
}

.info_mail-hr {
    width: 100px;
    border: 2px solid;
    margin: 20px 110px;
}

.info_mail-h6 {
    margin: 0;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.quick_link-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quick_link-item {
    text-decoration: none;
    color: white;
}

.footer_email {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 40px 0 50px;
}

.footer_email-button{
    width: 40px;
    height: 40px;
    margin: 3px;
    padding: 0;
    border: 0;
    border-radius: 4px;
}

.footer_email_button-img {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 4px;
}

.footer_email-input {
    width: 100%;
    border: 0;
    background-color: white;
    padding-left: 10px;
}

.copyright {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 5px 15px;;
}

.copyright-p {
    margin: 0;
    font-size: 13px;
    font-weight: 300;
    line-height: 13px;
}

.footer-hr {
    margin: 20px 0;
}

.footer-bottom_logos {
    display: flex;
    justify-content: space-between;
}

.logos {
    fill: white;
}

@media (min-width: 768px) {
    .header {
        height: 90;
        align-content: center;
        padding: 20px;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        height: 60px;
        padding: 0 3px 0 10px;
        position: relative;
        border-radius: 3px
    }

    .container-navbar-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 200px;
        height: 90px;
        background-color: white;
        left: 265px;
        top: -15px;
        box-shadow: 0 0 1px 0;
        border-radius: 5px;
    }

    .navbar-logo {
        width: 167px;
        height: 28px;
    }

    .navbar-download_button {
        background-color: #5956E9;
        color: white;
        border-radius: 3px;
        border: 0;
        width: 158px;
        height: 50px;
        font-size: 20px;
    }

    .section_download_app {
        padding: 200px 30px;
        background-image: url(imgs/background_image.png);
        background-size: cover;
        display: flex; 
        justify-content: space-between;
    }

    .download_app {
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 15px;
        position: relative;
        z-index: 2;
        max-width: 356px;
        height: 318px;
        margin: 50px 0;
    }

    .download_app-shadow {
        position: absolute;
        left: 50px;
        top: 380px;
        border: 15px solid white;
        width: 370px;
        height: 380px;
        z-index: 1;
        opacity: 25%;
    }

    .download_app_links {
        display: flex;
        gap: 15px;
    }
    
    .download_app_links-appStore,.download_app_links img {
        width: 150px;
        height: 45px;
    }
    
    .download_app_links-googlePlay {
        width: 150px;
        height: 44px;
    }

    .download_app-h5{
        font-size: 31.25px;
        font-weight: 700;
        line-height: 47.25px;
    }
    
    .download_app-p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        width: 243px;
        height: 23px;
    }

    .phone_1 {
        width: 100%;
        height: 100%;
    }
    
    .aboutOurApp {
        margin: 0 200px 50px;
    }

    .aboutOurApp-div {
        display: flex;
    }



    .column_feature {
        display: flex;
        margin-top: 40px;
    }

    .column_feature-left {
        text-align: right;
    }

    .column_feature-right {
        text-align: left;
    }

    .column_features p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: right;
    }

    .column_feature .section_features-h6 {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        padding: 0;
        margin: 20px 0;
        width: 225px;
    }

    .section_features-img_app {
        width: 60%;
        height: 50%;
    }

    .container-border_team {
        display: flex;
        gap: 30px;
    }
    
    .border_team {
        margin-top: 35px;
        padding: 16px;
        border-radius: 10px;
        box-shadow: 0px 0px 3px 0px rgb(223, 209, 209);
        width: 213px;
    }
    
    .border_team-img {
        width: 120px;
    }

    .section_our_reactive_team-h4 {
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        margin: 20px 0 0;
    }

    .section_our_reactive_team-h6 {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin: 0 0 15px 0;
        color: #6C6C72;
    }

    .info_mail {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        left: 46px;
        top: -95px;
    }

    .info_mail img {
        width: 60px;
        height: 60px;
    }

    .info_mail-email{
        display: flex;
        text-transform: lowercase;
        align-items: center;
        gap: 10px;
    }

    .info_mail-h6 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }

    .info_mail-hr {
        margin: 0;
        border: 2px solid gray;
        width: 0;
        height: 106px;
    }

    .info_mail-call {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;  
    }

}
