body {
    margin: 0;
    box-sizing: border-box;
    background-color:#5956E9;
    font-family: "Josefin Sans";
}

.header {
    margin: 30px 10px;
    align-content: center;
}

.top_bar {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 40px;
    padding: 0 3px 0 10px;
    position: relative;
    border-radius: 3px;
}

.burger_menu {
    display: block;
    position: relative;
    z-index: 1;
    top: 2px;
}

.burger_menu-input {
    display: block;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}


.burger_menu-span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: black;
    margin-bottom: 5px; 
    z-index: 1;
    position: relative;
    transform-origin: 0;
    transition: transform .5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.5s ease;
}

.burger_menu-input:checked ~ .burger_menu-span {
    opacity: 1;
    transform: rotate(45deg);
    background-color: #232323;
}  

.burger_menu-input:checked ~ .burger_menu-span:nth-last-child(3) {
    opacity: 0;
}  

.burger_menu-input:checked ~ .burger_menu-span:nth-last-child(2) {
    transform: rotate(-45deg);
}  

.burger_menu-list {
    transform: translate(-120%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    position: absolute;
    list-style: none;
    background-color: white;
    border-radius: 3px 10px 10px 10px;
    box-shadow: 0 10px 20px #00000020;
    text-decoration: none;
    padding: 70px 100px 20px 20px;
    top: -135%;
    left: -75%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /*  0.77) cuán rápido empieza el movimiento
    (0.2) controla la velocidad a medida que avanza
    (0.05) controla cuándo se empieza a desacelerar
    (1.0) indica cuán suavemente termina el movimiento. */
}

.burger_menu_list-links {
    text-decoration: none;   
    color: #232233;
}

.burger_menu-input:checked ~ .burger_menu-list {
    transform: none;
}

.container-navbar_logo {
    display: flex;
    position: absolute;
    width: 100px;
    height: 60px;
    background-color: white;
    align-items: center;
    justify-content: center;
    left: 50%;
    box-shadow: 0 10px 20px #00000020;
    border-radius: 5px;
    transform: translate(-50%, 0);
}

.navbar_logo {
    width: 79%;
}

.nav_desktop_links {
    display: none;
}

.navbar-download_button {
    background-color: #5956E9;
    color: white;
    border-radius: 3px;
    border: 0;
    width: 76px;
    height: 34px;
    font-size: 10px;
}

.section_download_app {
    padding: 40px 15px;
    background-image: url(imgs/background_image.png);
    background-size: cover; 
}

.container-download_app {
    z-index: 2;
    display: flex;
    justify-content: center;
}

.download_app {
    background-color: white;
    margin:  50px 15px 50px 0;
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
    z-index: 0;
    max-width: 356px;
} 

.download_app-shadow {
    position: absolute;
    left: 10%;
    top: -6%;
    border: 10px solid white;
    width: 90%;
    height: 106%;
    z-index: -1;
    opacity: 25%;
}

.download_app-h5{
    color: #5956E9;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    margin: 0;
}

.download_app-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 30px 0;
}

.download_app-h6 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    margin: 10px 0;
}

.download_app_links {
    display: flex;
    gap: 15px;
}

.phone_1 {
    width: 80%;
}

.section-download_app-img_background {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0 100px;
}


.section_aboutOurApp {
    background-color: white;
    justify-content: center;
    padding: 80px 15px;
}

.aboutOurApp {
    text-align: center;
}

.aboutOurApp-h5 {
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    margin: 0;
}

.aboutOurApp-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6C6C72;    
}

.aboutOurApp_img {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.phone_2 {
    width: 238px;
    height: 359px;
}

.container-cards {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
}

.card {
    display: flex;
    box-shadow: 0 10px 20px #00000020;
    border-radius: 10px;
    padding: 5% 0 5% 5%;
}

.card-text {
    padding: 0 15px;
}

.card-h6 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

.card-p {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #6C6C72;
}

.section_features {
    color: white;
    text-align: center;
    padding: 80px 35px ;
}

.section_features-h5 {
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    margin: 0;
}

.section_features-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0;
}

.section_features-h6 {
    margin: 25px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.feature {
    padding: 30px 10px 0;
}

.section_features-img_app {
    width: 214px;
    margin: 30px 0;
}

.section_our_reactive_team {
    background-color: white;
    text-align: center;
    padding: 75px 15px 230px;

}

.section_our_reactive_team-container_h5 {
    padding: 0 10px;
}

.section_our_reactive_team-h5 {
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    margin: 0;
}

.section_our_reactive_team-p {
    font-family: "Josefin Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color:gray;
}

.border_team {
    margin-top: 35px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px #00000020;
}

.border_team-img {
    border: 4px dashed #5956E9;
    border-radius: 100px;
    
}

.section_our_reactive_team-h4 {
    font-size: 31.25px;
    font-weight: 700;
    line-height: 47.25px;
    margin: 40px 0 0 0;
}

.section_our_reactive_team-h6 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin: 0 0 15px 0;
    color: #6C6C72;
}


.footer {
    position: relative;
    background-color: #232233;
    color: white;
    padding: 200px 15px 0;
}

.footer-logo {
    font-size: 31px;
    font-weight: 700;
    line-height: 47px;
}

.footer-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.footer-h4 {
    font-size: 31px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;   
    margin: 50px 0 10px; 
}

.footer-h5 {
    font-size: 25px;
    font-weight: 600;
    line-height: 37px;
    text-align: left;
    margin: 50px 0 10px;
}

.info_mail {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    color: #232233;
    font-size: 20px;
    box-shadow: 0 10px 20px #00000020;
    padding: 30px 8px;
    gap: 15px;
    left: 50%;
    transform: translate(-50%, -120%);
    width: 88%;
}

.info_mail-hr {
    width: 100px;
    border: 2px solid;
}

.info_mail-h6 {
    margin: 0;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.quick_link-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quick_link-item {
    text-decoration: none;
    color: white;
}

.footer_email {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 40px 0 50px;
}

.footer_email-button{
    width: 40px;
    height: 40px;
    margin: 3px;
    padding: 0;
    border: 0;
    border-radius: 4px;
}

.footer_email_button-img {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 4px;
}

.footer_email-input {
    width: 100%;
    border: 0;
    background-color: white;
    padding-left: 10px;
}

.copyright {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 5px 15px;;
    justify-content: center;
}

.copyright-p {
    margin: 0;
    font-size: 13px;
    font-weight: 300;
    line-height: 13px;
}

.footer-hr {
    margin: 20px 0;
}

.bottom_logos {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
}

.bottom_logos-hr {
    margin: 0;
}

.logos {
    fill: white;
}

@media (min-width: 768px) {
    .header {
        align-content: center;
        padding: 20px;
    }
    
    .top_bar {
        visibility: visible;
        display: flex;
        justify-content: space-between;
        padding: 0 0 20px;  
    }

    .top_bar-contacts {
        display: flex;
        color: white;
        align-items: center;
    }

    .top_bar-contacts p {
        margin: 0;
    }

    .top_bar-social {
        display: flex;
        gap: 30px;
        align-items: center;  
        color: white;
    }

    .top_bar-social img{
        width: 18px;
        height: 18px;
    }

    .top_bar_contacts-container {
        display: flex;
        align-items: center;  
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        height: 60px;
        padding: 0 5px 0 15px;
        position: relative;
        border-radius: 3px
    }

    .container-navbar_logo {
        width: 200px;
        height: 90px;
    }

    .burger_menu-list {
        height: 180px;
        top: -37px;    
    }   

    .navbar-download_button {
        background-color: #5956E9;
        color: white;
        border-radius: 3px;
        border: 0;
        width: 158px;
        height: 50px;
        font-size: 20px;
    }

    .section_download_app {
        padding: 80px 30px;
        background-image: url(imgs/background_image.png);
        background-size: cover;
        display: flex; 
        justify-content: center;
        gap: 80px;
    }

    .container-download_app {
        display: flex;
        flex-direction: column;
    }

    .download_app {
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 15px;
        position: relative;
        z-index: 2;
        margin: 50px 0;
    }

    .download_app-shadow {
        position: absolute;
        left: 7%;
        top: -10%;
        border: 15px solid white;
        width: 365px;
        height: 375px;
        opacity: 25%;
    }

    .download_app_links {
        display: flex;
        gap: 15px;
    }
    
    .download_app_links-appStore,.download_app_links img {
        width: 150px;
        height: 45px;
    }
    
    .download_app_links-googlePlay {
        width: 150px;
        height: 44px;
    }

    .download_app-h5{
        font-size: 31.25px;
        font-weight: 700;
        line-height: 47.25px;
    }

    .download_app-h6{
        margin: 32px 0;
    }
    
    .download_app-p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
    }

    .phone_1 {
        width: 80%;
        height: 100%;
    }
    

    .aboutOurApp {
        margin: 0 200px 50px;
    }

    .aboutOurApp-div {
        display: flex;
        justify-content: center;
    }

    .column_feature {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        gap: 20px;
    }

    .column_feature-left {
        text-align: right;
        display: flex;
        flex-direction: column;
        gap: 8%;
    }

    .column_feature-right {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 6%;
    }

    .column_features-left p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: right;
    }

    .column_feature .section_features-h6 {
        margin: 10px 0 0;
    }

    .section_features-img_app {
        max-width: 375px;
        margin: 0;
    }

    .container-border_team {
        display: flex;
        gap: 30px;
        justify-content: center;
    }
    
    .border_team {
        margin-top: 35px;
        border-radius: 10px;
        box-shadow: 0 10px 20px #00000020;
    }
    
    .border_team-img {
        width: 120px;
        margin: 0;
    }

    .section_our_reactive_team-h4 {
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        margin: 20px 0 0;
    }

    .section_our_reactive_team-h6 {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin: 0 0 15px 0;
        color: #6C6C72;
    }

    .info_mail {
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        left: 50%;
        transform: translate(-50%, -110%);
        max-width: 688px;
    }

    .info_mail img {
        width: 60px;
        height: 60px;
    }

    .info_mail-email{
        display: flex;
        text-transform: lowercase;
        align-items: center;
        gap: 10px;
    }

    .info_mail-h6 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }

    .info_mail-hr {
        margin: 0;
        border: 2px solid gray;
        width: 0;
        height: 106px;
    }

    .info_mail-call {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;  
    }

    .display_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 70px 0;
    }

    .display_footer_div {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .display_footer_div_quick {
        padding: 0 80px 0 15px; 
    }

    .footer {
        padding: 100px 50px 0;  
    }

    .footer-h4 {
        font-size: 31px;
        font-weight: 700;
        line-height: 47px;
        text-align: left;
        margin: 0;
        margin-bottom: 10px;
    }

    .footer-h5 {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: left;
        margin: 0;
        margin-bottom: 10px;
        width: 145px;
    }

    .footer-p {
        font-size: 16px;
        font-weight: 400;
        line-height:    24px;
        text-align: left;
        margin-top: 13px;
    }


    .quick_link-list {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .quick_link-list li {
        display: flex
    }

    .footer_email {
        margin: 20px 0;
    }

}

@media (min-width: 1440px) {

    .header {
        padding: 0 130px;
    }

    .burger_menu {
        display: none;
    }

    .nav_desktop_links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        padding: 5px 20px 0 ;
    }

    .nav_desktop_links a {
        text-decoration: none;
        color: black;
        display: flex;
        font-size: 20px;
    }

    .nav_desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .section_download_app {
        display: flex;
        justify-content: space-between;
        padding: 150px;
    }


    .section-download_app-img_background {
        margin: 0;
        width: 30%;
    }

    .download_app {
        max-width: 560px;
    }

    .download_app-shadow {
        height: 395px;
        width: 95%;
    }

    .download_app-h5 {
        font-size: 48.83px;
        font-weight: 700;
        line-height: 63.48px;
        text-align: left;

    }

    .download_app-p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }

    .download_app-h6 {
        font-size: 25px;
        font-weight: 600;
        line-height: 37.5px;
        text-align: left;

    }

    .download_app_links img {
        width: 149px;
        height: 47px;
    }

    .phone_1 {
        width: 100%;
    }

    .container-border_team {
        padding: 0 100px;
    }

    .border_team-img {
        width: 198px;
    }

    .section_our_reactive_team-h4 {
        font-size: 31px;
        margin: 70px 0 10px 0;

    }

    .section_our_reactive_team-h6 {
        font-size: 20px;
    }

    .section_our_reactive_team-p {
        font-size: 18px;
        font-weight: 400;
    }

    .bottom_logos {
        margin: 30px 50px;
    }

    .phone_2 {
        width: 386px;
        height: 526px;
    }

    .aboutOurApp-div {
        padding: 0 150px;
        gap: 220px;
    }

    .card-p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }
}